<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer!</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2>Enter your phrase:</h2>
      <form method="post" action="/piglatinize">
    
      <input name="user_phrase"/>

    
        <button type="submit" value="submit">Submit</button>
      </form>
  
  
  </body>
</html>